{% extends 'base.html.twig' %}

{% block title %}
	"{{ category.label }}" Projects
{% endblock %}

{% block body %}

	<h1>"{{ category.label }}" Projects</h1>


	<div class="collection">

		{% for project in projects %}
			{% include "_parts/card/project.html.twig" %}
		{% endfor %}

		<div class="pagination">
			{{ knp_pagination_render(projects) }}
		</div>

	</div>

{% endblock %}
