{# Config

    Mandatory variables:
        - filters: <object> {<string> class: <string> label, ...}

    Optionnal variables:
        - collection_filters_random: <bool> Show random button? Default: false

#}

{# Collection Filters element ======================================================= #}

<div class="grid-filter-container">

    {% for filtr in filters %}

        {% set showAllLabel = filtr.showAllLabel is defined ? filtr.showAllLabel : 'All' %}

        <div class="d-flex">
            <ul class="grid-filter style-4" data-container="#collection">
                {% if filtr.label is defined and filtr.label is not null %}
                    <li class="grid-filter-label">{{ filtr.label }}:</li>
                {% endif %}
                <li class="activeFilter"><a href="#" data-filter="*">{{ showAllLabel }}</a></li>
                {% for item in filtr.collection %}
                    <li><a href="#" data-filter=".{{ item.slug }}">{{ item.label }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

</div>