{# Config

    Mandatory variables:
        - filters: <object> {<string> class: <string> label, ...}

    Optionnal variables:
        - collection_filters_random: <bool> Show random button? Default: false

#}


{# Prepare #}

    {% set showRandomBtn = collection_filters_random is defined and collection_filters_random is not same as(false) ? true : false %}

{# Collection Filters element ======================================================= #}

<div class="row flex-wrap">

        <div class="col-md-6 d-flex justify-content-start">
            <ul class="grid-filter style-4" data-container="#collection">
                <li class="activeFilter"><a href="#" data-filter="*">All languages</a></li>
                {% for filter in filters.0 %}
                    <li><a href="#" data-filter=".{{ filter.slug }}">{{ filter.label }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <ul class="grid-filter style-4" data-container="#collection">
                <li class="activeFilter"><a href="#" data-filter="*">All types</a></li>
                {% for filter in filters.1 %}
                    <li><a href="#" data-filter=".{{ filter.slug }}">{{ filter.label }}</a></li>
                {% endfor %}
            </ul>
        </div>

    {% if showRandomBtn %}
        <div class="grid-shuffle rounded" data-container="#collection">
            <i class="icon-random"></i>
        </div>
    {% endif %}

</div>