{# 
    Attributes:
    - title
    - slides: array[]
        - content
        - name

#}

<div class="col-md-5 mt-5 mt-md-0">
    <h5 class="ps-4 fw-normal">{{ title }}</h5>
    <div id="oc-testi" class="owl-carousel testimonials-carousel carousel-widget ps-4" data-margin="0" data-nav="false" data-pagi="false" data-items="1" data-autoplay="6000" data-loop="true" data-animate-in="fadeIn">

        {% for slide in slides %}
            <div class="oc-item">
                <div class="testimonial bg-transparent shadow-none border-0 p-3">
                    <div class="testi-content">
                        <p>{{ slide.content }}</p>
                        <div class="testi-meta ls1 mt-3 mb-0">{{ ' ' ~ slide.name }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>