{# // Examples: https://themes.semicolonweb.com/html/canvas/toggles-accordions.html #}

{#
Mandatory variables:
    - title: <string> html is allowed
    - content: <string> html is allowed
#}

<div class="toggle toggle-bg toggle-active">
    <div class="toggle-header">
        <div class="toggle-icon">
            <i class="toggle-closed icon-ok-circle"></i>
            <i class="toggle-open icon-remove-circle"></i>
        </div>
        <div class="toggle-title">
            {{ title|raw }}
        </div>
    </div>
    <div class="toggle-content" style="display: block;">
        {{ content|raw }}
    </div>
</div>