{% extends '_layout/collection.html.twig' %}

{# Config #}

{% block title %}Blog: {{ author.fullName }}{% endblock %}

{% set page_title = 'Portfolio: ' %}
{% set breadcrumb = [
    {label: 'Home', url: path('home')},
    {label: 'Blog', url: path('projects')},
    {label: author.fullname, active: true}
] %}
{% set collection_filters = categories %}


{# Collection of Projects =============================================== #}

{% block hero %}

    {% include "_sections/page-title/default.html.twig" with { 
        title: 'Blog: ' ~ author.fullname,
        subtitle: author.bio|extract(200, '...')
    } %}
    
{% endblock %}

{% block content %}

    {% if lessons is defined and lessons|length > 0 %}
        {{ parent() }}
        <div id="collection" class="row grid-container block-gallery-9">
            {% for post in posts %}
                {% include "_elements/blog-collection-item-2.html.twig" with { post: post } %}
            {% endfor %}
        </div>
    {% else %}
        This author has not published any post.
    {% endif %}
    
{% endblock %}
