{% extends 'base.html.twig' %}

{% block title %}Author: {{ author.fullName }}{% endblock %}

{% block body %}

<h1>Author: {{ author.fullName }}</h1>

{% for project in author.projects %}
    <div class="collection">
        {% include "_parts/project_card.html.twig" %}
    </div>
{% endfor %}

{% endblock %}
