{% extends 'base.html.twig' %}

{% block title %}
	{{ author.fullName }}'s Projects
{% endblock %}

{% block body %}

	<h1>{{ author.fullName }}'s Projects</h1>

	{% for project in projects %}
		<div class="collection">
			{% include "_parts/card_project.html.twig" %}
		</div>
	{% endfor %}

{% endblock %}
