{% extends '_layout/bg-video.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('ui') }}
{% endblock %}

{% block content %}

<div class="tabs mx-auto clearfix" id="tab-login-register" style="max-width: 500px;">

    <ul class="tab-nav tab-nav2 center clearfix">
        <li class="inline-block"><a href="{{ path('app_login') }}">Login</a></li>
        <li class="inline-block ui-state-active"><a href="#tab-register">Register</a></li>
    </ul>

    <div class="tab-container">

        <div class="tab-content" id="tab-register">
            <div class="card mb-0">
                <div class="card-body" style="padding: 40px;">

                    {% include "security/_register-form.html.twig" %}
                        
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}

