{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block body %}

	<div class="section hero xl">
		<h1>Web Developer</h1>
		<div class="subtitle">PHP. Symfony. Javascript.</div>
		<div class="bg-img"></div>
		<button class="primary">Visit Portfolio</button>
	</div>

	<div class="section container">
		<h2>Last Projects</h2>
		<div class="collection">
			{% for project in projects %}
				{% include "_parts/card/project.html.twig" %}
			{% endfor %}
		</div>
		<div class="see_more">
			<a href="{{ path('projects') }}">
				<button class="primary">Browse all projects</button>
			</a>
		</div>
	</div>

	<div class="section container">
		<div class="collection">
			<h2>Last Lessons</h2>
			{% for lesson in lessons %}
				{% include "_parts/card/lesson.html.twig" %}
			{% endfor %}
		</div>
		<div class="see_more">
			<a href="{{ path('lessons') }}">
				<button class="primary">Browse all lessons</button>
			</a>
		</div>
	</div>

	<div class="section container">
		<div class="collection">
			<h2>Last Blog Posts</h2>
			{% for post in posts %}
				{% include "_parts/card/post.html.twig" %}
			{% endfor %}
		</div>
		<div class="see_more">
			<a href="{{ path('posts') }}">
				<button class="primary">Browse all posts</button>
			</a>
		</div>
	</div>
{% endblock %}
