{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block hero %}

    <section id="slider"
        class="slider-element min-vh-60 min-vh-md-100 include-header" 
        style="background: url('{{ asset('build/images/dots-1.png') }}') 100% 0 no-repeat; background-size: 60% auto"
    >
        {% include "_sections/home/hero-slider.html.twig" with {
			section: "Hello,",
			title: {
				before: "I am<br>", 
				words:"a web developer.|a marketer.|an ecommerce expert.|a video editor.|a graphic designer.|a self-learner.", 
			},
			headline: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quasi quo ea magnam dignissimos quis obcaecati aut in.",
			slides: [
				{img: 'build/images/home/edouard.jpg'},
				{img: 'build/images/home/edouard-nb.jpg'}
			]
		} %}
    </section>

{% endblock %}
		
{% block main %}

	<section id="content">
		<div class="content-wrap">

			{# flip cards #}
			{% include "_sections/home/flip-cards.html.twig" with {
				section: 'Experience',
				title: "I've been coding every single day for the last " ~ stats.daysOfCoding ~ " days.",
				columns: 4,
				parallax: { top: '-100px', bottom: '100px' },
				removeVerticalMargins: true,
				titleSize: '36px'
			} %}

			{# wrap cards #}
			<div class="section bg-transparent">
				<div class="container">
					{% include "_elements/section-title.html.twig" with {
						section: 'Projects',
						title: 'A glimpse of what i do.',
						offsetLeft: true,
						content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur blanditiis saepe dolore tempora nihil praesentium dolorum unde, earum, nostrum odit?'
					} %}

					{% include "_elements/gallery-masonry-3d.html.twig" with { 
						cards : featuredProjects
					} %}

					{% include "_elements/section-paragraph-left.html.twig" with {
						title: 'See what I Did.',
						content: [
							'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur blanditiis saepe dolore tempora nihil praesentium dolorum unde, earum, nostrum odit?',
							'Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptatum, perspiciatis quae dolorum exercitationem quos ullam, doloribus voluptates nulla reprehenderit maxime sunt ducimus eligendi ratione quaerat vero ex voluptatem earum.'
						] 
					} %}

				</div>
			</div>

			{# counters #}

			{% include "_sections/home/counters.html.twig" with { counters: [
				{
					to: stats.daysOfCoding * (5 / 7) * 5, 
					title: "hours of coding",
					content: '',
					after: '+'
				},
				{
					to: stats.languages.count,
					title: "Mastered languages",
					content: 'Including ' ~ stats.languages.list ~ '.'
				},
				{
					to: stats.technologies.count,
					title: "Frameworks and bundles",
					content: stats.technologies.list
				},
				{
					to: stats.githubRepositories|length,
					title: "Projects on Github",
					content: ''
				}
			] } %}
			
			{# clients #}
			{% include "_sections/home/clients.html.twig" with {
				section: 'Trusted Partners',
				title: 'Happy Clients',
				columns: 12
			} %}

			{# services cards #}
			{% include "_sections/home/services.html.twig" with {
				section: 'Steps of Works',
				title: 'See How I Do.',
			} %}
			
			{# contact & testimonials #}
			{% include "_sections/home/footer-contact.html.twig"  with {
				section: "Let's Say Hi!",
				title: "Contact Me Here."
			} %}

		</div>
	</section>

{% endblock %}