<div class="comments_section">
    
	{% if postType|hasVisibleComments %}
        <h2>Comments</h2>
        <div class="list">
            {% for comment in postType.comments %}
                {% if comment.isVisible %}
                    {% include "_parts/card/comment.html.twig" %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if postType|hasVisibleComments %}
        <h3>Leave a comment</h3>
    {% else %}
        <h2>Leave a comment</h2>
    {% endif %} 

    <div class="form">
        [comment_form]
    </div>

</div>