<div class="card comment">

    <div class="card_data">
        <span class="name">{{ comment.user.email|safeEmail }}</span>
        <span class="date"> | {{ comment.createdAt|date('m/d/Y (H:i)') }}</span>
    </div>

    <div class="card_content">
        {{ comment.content }}
    </div>

    <hr>

</div>