
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
###< symfony/framework-bundle ###

###> vscode ###
.vscode/
###< vscode ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> uploads ###
public/uploads/projects/*
!public/uploads/projects/placeholder.png

public/uploads/posts/*
!public/uploads/posts/placeholder.png

public/uploads/lessons/*

public/uploads/authors/*
!public/uploads/authors/placeholder.png
###< uploads ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> fosckeditor/plugins ###
public/bundles/*
!public/bundles/fosckeditor_plugins/
###< fosckeditor/plugins ###