{% set menuItems = {
    0: {type: 'link', label: 'Login', url: path('app_login')},
} %}
    
<div class="menu header_main">

	<ul class="menu header_main">

		{% for item in menuItems %}
			<li class="item">
				{% include "_parts/menu/item/" ~ item.type ~ ".html.twig" %}
			</li>
		{% endfor %}

	</ul>

</div>

