{% set higherRole = app.user|higherRole(true) %}

{% set adminVisible = higherRole is null ? false : true %}
{% set logoutVisible = app.user is null ? false : true %}
{% set loginVisible = app.user is null ? true : false %}
{% set authorRegisterVisible = app.user is null or adminVisible is same as(false) ? true : false %}

{% set menuItems = {
    0: {type: 'link', label: higherRole ~ ' dashboard', url: path('admin'), isVisible: adminVisible},
	5: {type: 'link', label: 'Login', url: path('app_login'), isVisible: loginVisible},
	10: {type: 'link', label: 'Logout', url: path('app_logout'), isVisible: logoutVisible},
	15: {
		type: 'link', label: 'Become an author', url: path('author_register'), isVisible: authorRegisterVisible}
} %}
    
<div class="menu header_main">

	<ul class="menu header_main">

		{% for item in menuItems %}
			{% if item.isVisible is not defined or item.isVisible is same as(true) %}
				<li class="item">
					{% include "_parts/menu/item/" ~ item.type ~ ".html.twig" %}
				</li>
			{% endif %}
		{% endfor %}

	</ul>

</div>

