{% set menuItems = {
    0: {type: 'link', label: 'Home', url: path('home')},
    5: {type: 'link', label: 'Portfolio', url: path('projects')},
    10: {type: 'link', label: 'Lessons', url: path('lessons')},
    15: {type: 'link', label: 'Blog', url: path('posts')},
    20: {type: 'link', label: 'About', url: path('about')},
    25: {type: 'link', label: 'Contact', url: path('contact')},
} %}

<div class="menu header_main">

	<ul class="menu header_main">

		{% for item in menuItems %}
			<li class="item">
				{% include "_parts/menu/item/" ~ item.type ~ ".html.twig" %}
			</li>
		{% endfor %}

	</ul>

</div>

