<div class="section" style="background: #FFF url('{{ asset('build/images/dots.png') }}') 170% 0% no-repeat; background-size: 60% auto">

    <div class="container">
        <div class="row justify-content-between">
            {% for counter in counters %}
                {% include "_elements/counter.html.twig" with {
                    from: counter.from ?? null, 
                    to: counter.to, 
                    title: counter.title,
                    interval: counter.interval ?? null,
                    content: counter.content ?? null,
                    after: counter.after ?? null,
                    speed: counter.speed ?? null
                } %}
            {% endfor %}
        </div>
    </div>
    
</div>
