<div class="section">

    <div class="container">
        <div class="row align-items-center justify-content-between">

            {% include "_elements/section-title.html.twig" with {
                section: section,
                title: title,
                columns: columns,
                content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur blanditiis saepe dolore tempora nihil praesentium dolorum unde, earum, nostrum odit?',
                parallax: parallax,
                removeVerticalMargins: removeVerticalMargins,
                titleSize: titleSize
            } %}

            <div class="col-lg-7">
                <div class="row">

                    {% include "_elements/card-flip.html.twig" with {
                        icon: asset('build/images/icons/camera1-dark.svg'),
                        title: 'Travel Blog',
                        contentFront: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum.',
                        contentBack: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit.',
                        imgBack: asset('build/images/features/1.jpg'),
                        btnLabel: 'View Photos',
                        btnLink: '#'
                    } %}
                    {% include "_elements/card-flip.html.twig" with {
                        icon: asset('build/images/icons/wedding-dark.svg'),
                        title: 'Wedding Shoots',
                        contentFront: 'Alias dicta repudiandae sed laudantium eius ipsa, ullam voluptas quod! Quia, accusamus perferendis.',
                        contentBack: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sunt laborum pariatur cum!',
                        imgBack: asset('build/images/features/2.jpg'),
                        btnLabel: 'View Photos',
                        btnLink: '#'
                    } %}
                    {% include "_elements/card-flip.html.twig" with {
                        icon: asset('build/images/icons/camera2-dark.svg'),
                        title: 'Candid Moments',
                        contentFront: 'Laboriosam ad culpa ab in et blanditiis ullam consectetur inventore?', 
                        contentBack: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. ',
                        imgBack: asset('build/images/features/3.jpg'),
                        btnLabel: 'View Photos',
                        btnLink: '#'
                    } %}
                    {% include "_elements/card-flip.html.twig" with {
                        icon: asset('build/images/icons/travel-dark.svg'),
                        title: 'Wild Photography',
                        contentFront: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
                        contentBack: 'Ratione voluptate aspernatur quidem deserunt',
                        imgBack: asset('build/images/features/4.jpg'),
                        btnLabel: 'View Photos',
                        btnLink: '#'
                    } %}
                    
                </div>
            </div>

        </div>
    </div>
</div>