{# 
    Inherited variables from:
        _elements/section-title.html.twig
        _elements/contact-button-section.html.twig
        _elements/testimonials-slider-small.html.twig
#}

<div class="section mb-0 bg-transparent">
    <div class="container">

        <div class="row justify-content-between mt-5">

            {% set additionalHtml %}
                {% include "_elements/contact-button-section.html.twig" with {
                    label: 'Contact Me!',
                    url: path('contact'),
                    socials: socials is defined ? socials : []
                } %}
            {% endset %}

            {% include "_elements/section-title.html.twig" with {
                section: section,
                title: title,
                content: content,
                additionalHtml: additionalHtml,
                titleSize: '64px',
                titleLineHeight: '4.4rem',
                removeVerticalMargins: true
            } %}

            {# {% if testimonials is not same as(false) %}
                {% include "_elements/testimonials-slider-small.html.twig"  with {
                    title: 'What Clients Says:',
                    slides: [{ 
                            content: 'Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum repellendus!',
                            name: 'Fig Nelson'
                        }]
                } %}
            {% endif %} #}

        </div>
    </div>
</div>