<div class="slider-inner">

	<div class="vertical-middle">
		<div class="container parallax py-5" data-0="opacity: 1; overflow: visible; margin-top:0px" data-top-bottom="opacity: 0; overflow: visible; margin-top:100px">

			<div class="row align-items-center col-mb-50">
				<div class="col-md-6">
					<div class="py-5 py-md-0">
						<small class="text-muted text-uppercase fw-light ls4 mb-1 d-block">Photographer</small>
						<h2 class="text-dark">Shooting Your Memory.</h2>
						<h5 class="fw-light ls1" style="opacity: .7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quasi quo ea magnam dignissimos quis obcaecati aut in.</h5>
						
						{% include "_elements/contact-button.html.twig" with {
							contactLabel: 'Contact Me!',
							contactLink: '#',
							socials: [ 
								{ slug: 'facebook', link: 'https://facebook.com' },
								{ slug: 'twitter', link: 'https://twitter.com' },
								{ slug: 'instagram', link: 'https://instagram.com' }
							]
						} %}
						
					</div>
				</div>

				<div class="col-md-6 ps-md-5 ps-lg-0">
					<div class="row align-items-stretch">
						<div class="col-lg-6 col-md-12 rounded col-6 d-none d-sm-flex" style="background: url('{{ asset('build/images/1.jpg') }}') center center no-repeat; background-size: cover;">
						</div>
						<div class="col-6 d-none d-lg-flex"></div>
						<div class="col-6 d-none d-lg-flex"></div>
						<div class="col-lg-6 col-md-12 gradient-border shadow-sm col-sm-6 col-12 max-height" style="background-color: #FFF;">
							<div class="feature-box flex-column px-3 py-4 fbox-sm">
								<div class="fbox-media">
									<img src="{{ asset('build/images/icons/instagram.svg') }}" class="rounded-0 bg-transparent text-start" alt="Image" style="height: 48px;">
								</div>
								<div class="fbox-content">
									<div class="d-block" style="margin: 90px auto"></div>
									<p class="mb-0 fw-normal">View My Stories</p>
									<h3 class="fw-medium mt-1 mb-0 d-flex align-self-end"><a href="https://instagram.com/semicolonweb" target="_blank" class="text-dark">Instagram <i class="icon-line-arrow-right fw-semibold position-relative" style="top: 2px"></i></a></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>