<div class="section" style="padding: 140px 0;">
    <div class="container">

        {% include "_elements/section-title.html.twig" with {
            section: section,
            title: title,
            content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur blanditiis saepe dolore tempora nihil praesentium dolorum unde, earum, nostrum odit?',
        } %}

        <div class="row clearfix">

            {% for card in cards %}
                {% include "_elements/card.html.twig" with {
                    img: card.img,
                    title: card.title,
                    content: card.content
                } 
            %}
            {% endfor %}

        </div>
    </div>
</div>
