<div class="section bg-transparent">

					<div class="container">

						{% include "_elements/section-title.html.twig" with {
							section: section,
							title: title,
							offsetLeft: offsetLeft,
							content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur blanditiis saepe dolore tempora nihil praesentium dolorum unde, earum, nostrum odit?'
						} %}

						<div class="row grid-container gutter-30" style="overflow: visible;">

							{% include "_elements/card-wrap.html.twig" with {
								img: asset('build/images/album/1.jpg'),
								category: 'Travel',
								title: 'Railway Station'
							} %}
							{% include "_elements/card-wrap.html.twig" with {
								img: asset('build/images/album/2.jpg'),
								category: 'Travel',
								title: 'Mt. Batur'
							} %}
							{% include "_elements/card-wrap.html.twig" with {
								img: asset('build/images/album/3.jpg'),
								category: 'Travel',
								title: 'Bali, Indonesia'
							} %}
							{% include "_elements/card-wrap.html.twig" with {
								img: asset('build/images/album/4.jpg'),
								category: 'Wedding',
								title: "Ms. Charle's Wedding"
							} %}
							{% include "_elements/card-wrap.html.twig" with {
								img: asset('build/images/album/5.jpg'),
								category: 'Wedding',
								title: 'Romantic Moments'
							} %}
							{% include "_elements/card-wrap.html.twig" with {
								img: asset('build/images/album/6.jpg'),
								category: 'Travel',
								title: 'Surfing on Sunset'
							} %}
							{% include "_elements/card-wrap.html.twig" with {
								img: asset('build/images/album/7.jpg'),
								category: 'Candid',
								title: 'Black & White'
							} %}
							{% include "_elements/card-wrap.html.twig" with {
								img: asset('build/images/album/8.jpg'),
								category: 'Travel',
								title: 'Reading Book'
							} %}
							{% include "_elements/card-wrap.html.twig" with {
								img: asset('build/images/album/9.jpg'),
								category: 'Travel',
								title: 'Little Flubby'
							} %}
							{% include "_elements/card-wrap.html.twig" with {
								img: asset('build/images/album/10.jpg'),
								category: 'Portrait',
								title: 'Model Shoot'
							} %}
							{% include "_elements/card-wrap.html.twig" with {
								img: asset('build/images/album/11.jpg'),
								category: 'Fashion',
								title: 'Beach Shoot'
							} %}
							{% include "_elements/card-wrap.html.twig" with {
								img: asset('build/images/album/12.jpg'),
								category: 'Model',
								title: 'Modelling Pics'
							} %}
							{% include "_elements/card-wrap.html.twig" with {
								img: asset('build/images/album/13.jpg'),
								category: 'Travel',
								title: 'Street Picture'
							} %}
							{% include "_elements/card-wrap.html.twig" with {
								img: asset('build/images/album/14.jpg'),
								category: 'Street',
								title: 'Budapest, Hungry'
							} %}
							{% include "_elements/card-wrap.html.twig" with {
								img: asset('build/images/album/15.jpg'),
								category: 'Candid',
								title: 'Street Picture'
							} %}

						</div>

						{% include "_elements/section-paragraph-left.html.twig" with {
							title: 'See what I Did.',
							content: [
								'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur blanditiis saepe dolore tempora nihil praesentium dolorum unde, earum, nostrum odit?',
								'Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptatum, perspiciatis quae dolorum exercitationem quos ullam, doloribus voluptates nulla reprehenderit maxime sunt ducimus eligendi ratione quaerat vero ex voluptatem earum.'
							] 
						} %}
					</div>
				</div>