<div class="card col-md-4">
    <div class="card-body">
      <h5 class="card-title">
          {% block card_title %}{% endblock %}
      </h5>
      <p class="card-text">
        {% block card_text %}{% endblock %}
      </p>
      {% block card_btn %}{% endblock %}
    </div>
</div>