{% extends 'base.html.twig' %}

{% block title %}
	{{ codingLanguage.label ~ ' Projects' }}
{% endblock %}

{% block body %}

	<h1>{{ codingLanguage.label ~ ' Projects' }}</h1>

	<div class="collection">

		{% for project in projects %}
			{% include "_parts/card_project.html.twig" %}
		{% endfor %}

		<div class="pagination">
			{{ knp_pagination_render(projects) }}
		</div>

	</div>

{% endblock %}
