{% extends "@EasyAdmin/page/content.html.twig" %}

{% block page_title %}Welcome {{ eaAuthorName(author) }} - {{ config('SITE_NAME')|striptags }}{% endblock %}

{% block content %}

<article class="content">

    <section class="content-header">
        <div class="title">
            <h1>Welcome {{ eaAuthorName(author) }}
            </h1>
        </div>
    </section>

    <section class="content-body">

        <div class="mb-5">
            This is your {{ user|highestRole(true) }} dashboard.
        </div>

        {# Cards #}
        {% if cards is defined and cards|length > 0 %}
            <div class="row g-3">
                
                {# Approve authors #}
                {% if cards.approveAuthors is defined and cards.approveAuthors.authors|length > 0 %}
                    {% include "admin/_parts/card/authors_waiting_list.html.twig" with {
                        data: cards.approveAuthors
                    } %}
                {% endif %}

                {# Purge files button #}
                {% if cards.purgeFiles is defined %}
                    {% include "admin/_parts/card/purge_files.html.twig" with {
                        data: cards.purgeFiles
                    } %}
                {% endif %}

                {# Approve comments #}
                {# ... #}

            </div>
        {% else %}
            <i>No card to display</i>
        {% endif %}

    </section>
    
</article>

{% endblock %}