{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}

<article class="content">

    <section class="content-header">
        <div class="title">
            <h1>Welcome {{ eaAuthorName(author) }}
            </h1>
        </div>
    </section>

    <section class="content-body">
        This is your {{ user|higherRole }} dashboard.
    </section>
    
</article>

{% endblock %}