{% extends "@EasyAdmin/page/content.html.twig" %}

{% block page_title %}Welcome {{ eaAuthorName(author) }} - {{ config('SITE_NAME')|striptags }}{% endblock %}

{% block content %}

<article class="content">

    <section class="content-header">
        <div class="title">
            <h1>Welcome {{ eaAuthorName(author) }}
            </h1>
        </div>
    </section>

    <section class="content-body">
        This is your {{ user|higherRole }} dashboard.

        <div class="row mt-4">
            {% if cardApproveAuthors.authors|length > 0 and user|higherRole is same as('admin') %}
                {% include "admin/_parts/card/authors_waiting_list.html.twig" with {
                    data: cardApproveAuthors
                } %}
            {% endif %}
        </div>

    </section>
    
</article>

{% endblock %}