{% extends "@EasyAdmin/crud/form_theme.html.twig" %}

{% block vich_image_widget %}
    {% for type in ['VIDEO_TYPE', 'EMBED_TYPE'] %}
        {% if file('getMime', image_uri) is same as(file(type)) %}

            {% set image_uri_save = image_uri %}
            {% set image_uri = null %}

            {% if file('getExtension', image_uri_save) is same as(file('EMBED_TYPE_VIMEO')) %}

                {% set videoId = fileContent('', image_uri_save) %}

                <div class="mb-3">
                    <a href="https://player.vimeo.com/video/{{ videoId }}" target="_blank">
                        <i class="icon-play-sign pe-1"></i>Play video
                    </a>
                </div>
                
            {% elseif file('getExtension', image_uri_save) is same as(file('EMBED_TYPE_YOUTUBE'))%}

                {% set videoId = fileContent('', image_uri_save) %}

                <div class="mb-3">
                    <a href="https://www.youtube-nocookie.com/embed/{{ videoId }}" target="_blank">
                        <i class="icon-play-sign pe-1"></i>Play video
                    </a>
                </div>

            {% else %}
                
                <div class="mb-3">
                    <a href="{{ image_uri_save }}" target="_blank">
                        <i class="icon-play-sign pe-1"></i>Play video
                    </a>
                </div>

            {% endif %}
        {% endif %}
    {% endfor %}
    {{ parent() }}
{% endblock %}