{% extends "@EasyAdmin/crud/form_theme.html.twig" %}

{% block vich_image_widget %}
    {% if file('getMime', image_uri) is same as(file('VIDEO_TYPE')) %}
        {% set image_uri_save = image_uri %}
        {% set image_uri = null %}
        <div class="mb-3">
            <a href="{{ image_uri_save }}" target="_blank">
                <i class="icon-play-sign pe-1"></i>Play video
            </a>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}