{# Config

    Mandatory variables:
        - author: <Author> The Author of the post|lesson|project
        - defaultAvatar: <string> File name of the default avatar image (used if author does not have avatar)

    Optionnal variables:
        - author_routeName: <string|null> Route name for the author collection of posts|projects|lessons (set in 'show' and 'index' templates)
#}

{% set defaultAvatar = 'placeholder.png'  %}

{# Prepare #}

{% set hasAuthorLink = author_routeName is defined and author_routeName is not null ? true : false %}
{% set authorCollectionUrl = hasAuthorLink ? path(author_routeName, {id: author.id}) %}
{% set avatarUrl = author.avatar is defined and author.avatar is not null
    ? uploadUrl('UPLOADS_AUTHORS', author.avatar)
    : uploadUrl('UPLOADS_AUTHORS', defaultAvatar)
%}

{# Author Box component =================================================== #}

<div class="card">
    <div class="card-header">
        <strong><span>Posted by </span>
        {% if hasAuthorLink %}<a href="{{ authorCollectionUrl }}">{% endif %}
                {{ author.fullname }}
        {% if hasAuthorLink %}</a>{% endif %}
        </strong>
    </div>
    <div class="card-body">
        <div class="author-image">
            <img src="{{ avatarUrl }}" alt="Image" class="rounded-circle">
        </div>
        {{ author.bio|raw }}
    </div>
</div>