<div class="card">
    <div class="card-header"><strong>Posted by <a href="#">John Doe</a></strong></div>
    <div class="card-body">
        <div class="author-image">
            <img src="{{ asset('build/images/blog/show/author.jpg') }}" alt="Image" class="rounded-circle">
        </div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet, eligendi et nobis neque minus mollitia sit repudiandae ad repellendus recusandae blanditiis praesentium vitae ab sint earum voluptate velit beatae alias fugit accusantium laboriosam nisi reiciendis deleniti tenetur molestiae maxime id quaerat consequatur fugiat aliquam laborum nam aliquid. Consectetur, perferendis?
    </div>
</div>