{# Ref: https://themes.semicolonweb.com/html/canvas/block-content-gallery-9.html #}

{% extends '_layout/collection.html.twig' %}

{% block title %}Blog{% endblock %}

{% set page_title = 'Blog' %}
{% set page_desc = 'The lastest news from the world currated by experts.' %}
{% set breadcrumb = [
    {label: 'Home', url: '/'},
    {label: 'Blog', active: true}
] %}
{% set collection_filters = {
        pf_sport:  'Sport', 
        pf_cars: 'Cars',
        pf_media: 'Media'
} %}
{% set collection_items = [
    {
        title: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
        mainImage: asset('build/images/blog/1.jpg'),
        author: 'Edouard Proust',
        createdAt: date(),
        comments: 3,
        categories: [
            ['Sport', '#sport', 'pf_cars'],
            ['Media', '#media', 'pf_media']
        ]
    },{
        title: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
        mainImage: asset('build/images/blog/2.jpg'),
        author: 'Edouard Proust',
        createdAt: date(),
        comments: 0,
        categories: [
            ['Sport', '#sport', 'pf_sport']
        ]
    },{
        title: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
        mainImage: asset('build/images/blog/3.jpg'),
        author: 'Edouard Proust',
        createdAt: date(),
        comments: 3,
        categories: [
            ['Sport', '#sport', 'pf_cars'],
            ['Media', '#media', 'pf_media']
        ]
    },{
        title: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
        mainImage: asset('build/images/blog/4.jpg'),
        author: 'Edouard Proust',
        createdAt: date(),
        comments: 1,
        categories: [
            ['Media', '#media', 'pf_cars']
        ]
    },{
        title: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
        mainImage: asset('build/images/blog/5.jpg'),
        author: 'Edouard Proust',
        createdAt: date(),
        comments: 0,
        categories: [
            ['Sport', '#sport', 'pf_sport'],
            ['Media', '#media', 'pf_cars']
        ]
    },{
        title: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
        mainImage: asset('build/images/blog/6.jpg'),
        author: 'Edouard Proust',
        createdAt: date(),
        comments: 3,
        categories: [
            ['Sport', '#sport', 'pf_sport'],
            ['Media', '#media', 'pf_media']
        ]
    }
] %}


{# Render #}

{% block collection_items %}

<div id="collection" class="row grid-container block-gallery-9">
    {% for posts in collection_items %}
        {% include "_elements/blog-collection-item-2.html.twig" with {
            post: posts
        } %}
    {% endfor %}
</div>

{% endblock %}