{% extends '_layout/collection.html.twig' %}

{# Config #}

{% block title %}Blog: {{ category.label }}{% endblock %}

{% set breadcrumb = [
    {label: 'Home', url: path('home')},
    {label: 'Blog', url: path('posts')},
	{label: category.label, active: true}
] %}
{% set collection_filters = null %}
{% set collection_items = posts %}


{# Collection of Posts =============================================== #}

{% block hero %}

    {% include "_sections/page-title/default.html.twig" with { 
        title: 'Blog: ' ~ category.label,
        subtitle: category.description
    } %}
    
{% endblock %}

{% block content %}

    {% if posts is defined and posts|length > 0 %}
        {{ parent() }}
        <div id="collection" class="row grid-container block-gallery-9">
            {% for post in posts %}
                {% include "_elements/blog-collection-item-2.html.twig" with { 
                    post: post
                } %}
            {% endfor %}
        </div>
    {% else %}
        No post in this category.
    {% endif %}

{% endblock %}
