@import './sass/variables';

@import './sass/counter-skills';
@import './sass/shortcodes/image_scroll_hover';

// editor & code highlight
@import 'highlight.js/scss/agate.scss';


/**
 * Image
 */

figure.image {
    @include border-radius($card-inner-border-radius);
    overflow: hidden;
    transition: opacity 0.5s;
    display:flex;
    justify-content: center;
    /* center images */
    margin: 20px auto !important; 
    * img {
        width: 100%;
    }
}
figure.image:hover {
    opacity: 0.8;
}

/**
 * Embed headers
 */

figcaption,
.code-header,
.resultbox-header {
    text-align: center;
    font-size: $form-text-font-size;
    padding: $card-cap-padding-y $card-cap-padding-x;
    color: $gray-550;
    background-color: $card-cap-bg;
}

/**
 * Blocks margin
 */

.code-container,
.resultbox-container,
.accordion {
    margin-bottom: 40px;
}

/**
 * Code block & Result box
 */

code.hljs,
.resultbox-body {
    scroll-behavior: auto;
    max-height: 400px;
    tab-size: 34px; // tabulation width
    @include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
}
.code-header,
.resultbox-header {
    font-size: $form-text-font-size * 0.9;
    border: $card-border-width solid $card-border-color;
    border-bottom: none;
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
}
.resultbox-header {
    background-color: $blue-100;
    color: $blue-400;
    border-color: $blue-200;
}
.resultbox-body {
    padding: 1em;
    font-size: $form-text-font-size;
    border: $card-border-width solid $blue-200;
    overflow-x: auto;
}

/**
 * Captions (Image + Code)
 */
figcaption {
    border: $card-border-width solid $card-border-color;
    border-top: none;
}
// lightbox captions (image)
.lightbox-caption {
    line-height: $form-text-font-size * 1.6;
    padding: 20px 15px;
    margin-bottom: -35px;
    background-color: transparent;
    border-width: 0px;
    color: #e2e2e2;
}
.lightbox-figure::after {
    height: 100% !important;
    background-color: #2d2d2d;
    border-radius: $card-inner-border-radius;
}
.lightbox-img {
    padding: 0 !important;
    border-top-left-radius: $card-inner-border-radius;
    border-top-right-radius: $card-inner-border-radius;
}

// audio
.content-audio-container,
.content-audio-container audio {
    width: 100%;
}
.content-video-container video {
    width: 100%;
}