{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% set whiteLogo = true %}

{% block main %}

    <section class="slider-element include-header">
		<div class="slider-inner" style="position: static">

			<div class="vertical-middle">
				<div class="container py-5">

					{% block content %}{% endblock %}

				</div>
			</div>

			<div class="video-wrap" style="position: fixed">
				<video poster="{{ asset('build/images/videos/deskwork.jpg') }}" preload="auto" loop autoplay muted>
					<source src='{{ asset('build/images/videos/deskwork.mp4') }}' type='video/mp4' />
					<source src='{{ asset('build/images/videos/deskwork.webm') }}' type='video/webm' />
				</video>
				<div class="video-overlay" style="background-color: rgba(0,0,0,0.3);"></div>
			</div>

		</div>
	</section>

{% endblock %}

