{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block main %}

    <section class="video-bg-section d-flex">

			<div class="vertical-middle py-5">

				{% block content %}{% endblock %}

			</div>

		<div class="video-wrap">
			<video poster="{{ asset('build/images/videos/deskwork.jpg') }}" preload="auto" loop autoplay muted>
				<source src='{{ asset('build/images/videos/deskwork.mp4') }}' type='video/mp4' />
				<source src='{{ asset('build/images/videos/deskwork.webm') }}' type='video/webm' />
			</video>
			<div class="video-overlay"></div>
		</div>

	</section>

{% endblock %}

