{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{# Prepare #}
    {% set hasFeaturedSection = featuredProjects is defined 
        and featuredProjects is iterable 
        and featuredProjects|length > 0 
            ? true : false
    %}


{# Collection layout ================================================ #}

{% block main %}

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">

                {% block content %}
                
                    {# Featured projects #}
                    {% if hasFeaturedSection %}
                    <div class="section bg-transparent pt-0">
                        <h2>Featured</h2>
                        {% include "_elements/projects-carousel.html.twig" with {
                            projects: featuredProjects,
                            cols: 3
                        } %}
                    </div>

                    <h2>All projects</h2>
                    {% endif %}

                    {% if collection_filters is defined and collection_filters is not null %}
                        {% if collection_filters|length > 1 and collection_filters.0 is defined %}
                            {% include "_elements/collection-filters-double.html.twig" with {
                                filters: collection_filters
                            } %}
                        {% else %}
                            {% include "_elements/collection-filters.html.twig" with {
                                filters: collection_filters,
                            } %}
                        {% endif %}
                    {% endif %}

                    {# Collection Items:
                    Defined in <posttype>/index.html.twig template #}
                
                {% endblock %}
                
            </div>
        </div>
    </section>

{% endblock %}