{% extends 'base.html.twig' %}

{% block hero %}
    {% include "_sections/title-page.html.twig" %}
{% endblock %}

{% block javascripts %}
    
{% endblock %}

{% block main %}

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">

                {% include "_elements/collection-filters.html.twig" with {filters: collection_filters} %}

                {# Collection Items #}
                {% block content %}{% endblock %}
                
                {# Pagination #}
                {% include "_elements/collection-pagination.html.twig" with {
                    pages: [ [1, '#1'], [2, '#2'], [3, '#3'], [4, '#4'], [5, '#5'] ],
                    prevUrl: '#',
                    nextUrl: '#'
                } %}

            </div>
        </div>
    </section>

{% endblock %}