{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('gallery') }}
{% endblock %}

{% block main %}

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">

                {% include "_elements/collection-filters.html.twig" with {filters: collection_filters} %}

                {# Collection Items #}
                {% block content %}{% endblock %}
                
            </div>
        </div>
    </section>

{% endblock %}