{% extends 'base.html.twig' %}

{# Prepare #}
    {% set hasFeaturedSection = featuredProjects is defined 
        and featuredProjects is iterable 
        and featuredProjects|length > 0 
            ? true : false
    %}


{# Collection layout ================================================ #}

{% block main %}

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">

                {% block content %}
                
                    {# Projects only #}
                    {% if hasFeaturedSection %}
                        <div class="section bg-transparent">
                            {% include "_elements/section-title.html.twig" with {
                                section: null,
                                title: '<span>Featured</span> Projects',
                                offsetLeft: false,
                                content: null
                            } %}
                            {% include "_elements/projects-carousel.html.twig" with {
                                projects: featuredProjects,
                                cols: 3
                            } %}
                        </div>

                        {% include "_elements/section-title.html.twig" with {
                            section: null,
                            title: '<span>All</span> Projects',
                            offsetLeft: false,
                            content: null
                        } %}
                    {% endif %}

                    {# All #}
                    {% if collection_filters is defined and collection_filters is not null %}
                        {% include "_elements/collection-filters.html.twig" with {
                            filters: collection_filters
                        } %}
                    {% endif %}

                    {# Collection Items:
                    Defined in <posttype>/index.html.twig template #}
                
                {% endblock %}
                
            </div>
        </div>
    </section>

{% endblock %}