{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
    {{ encore_entry_link_tags('lesson') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('lesson') }}
{% endblock %}

{# /!\ 
    All variables are defined inside the page template: '<posttype>/show.html.twig'
    Go to this template to get the variables list 
#}

{# Prepare #}

{% set showPostNavigation = showPostNavigation is defined and showPostNavigation is same as(true) ? true : false %}
{% set showAuthor = post|hasApprovedAuthor and showAuthor is defined and showAuthor is same as(true) ? true : false %}
{% set showComments = showComments is defined and showComments is same as(true) ? true : false %}
{% set hasAfterContent = showPostNavigation or showAuthor or showComments ? true : false %}


{# Post layout ============================================================ #}

{% block main %}

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">

                <div class="single-post mw-xs mx-auto">

                    {% if hasAfterContent %}
                        <div class="entry clearfix">
                            <div class="clear"></div>
                            <div class="entry-content mt-3">
                    {% endif %}

                    {% block content %}{% endblock %}

                    {% if hasAfterContent %}
                            </div>
                        </div>
                    {% endif %}

                    {% if hasAfterContent %}

                        {% if showPostNavigation %}
                            {% include "_sections/posttype/post-navigation.html.twig" with { 
                                prevNextLinks: prevNextLinks 
                            } %}
                        {% endif %}

                        {% if showAuthor %}
                            {% include "_sections/posttype/author-box.html.twig" with { 
                                author: post.author,
                                author_routeName: author_routeName
                            } %}
                        {% endif %}

                        {% if showComments %}
                            {% include "_sections/posttype/comments.html.twig" with { 
                                comments: post.comments 
                            } %}
                        {% endif %}

                    {% endif %}

                </div>

            </div>
        </div>
    </section>

{% endblock %}