{% extends "base.html.twig" %}

{# /!\ 
    All variables are defined inside the page template: '<controller>/show.html.twig'
    Go to this template to get the variables list 
#}


{# Post layout ============================================================ #}


{% block hero %}

    {% set subtitle = page_subtitle is defined ? page_subtitle : null %}

    {% include "_sections/page-title/default.html.twig" with { 
        title: page_title,
        subtitle: subtitle
	} %}

{% endblock %}

{% block main %}

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">

                <div class="single-post mw-xs mx-auto">

                    <div class="clear"></div>
                    <div class="entry-content mt-3">

                        {% for type, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ type }}">{{ message|raw }}</div>
                            {% endfor %}
                        {% endfor %}

                        {% block content %}{% endblock %}

                    </div>

                </div>

            </div>
        </div>
    </section>

{% endblock %}