{# Ref: 
- https://themes.semicolonweb.com/html/canvas/contact-2.html
- https://themes.semicolonweb.com/html/canvas/featured-boxes.html 
#}

{% extends '_layout/page.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('ui') }}
{% endblock %}

{% set page_title = 'Contact' %}
{# {% set page_desc = "Let's keep in touch." %} #}
{% set page_breadcrumb = [
    {label: 'Home', url: '/'},
    {label: 'Contact', active: true}
] %}
		
{% block page_content %}

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">

                {% include "_sections/feature-boxes.html.twig" with { boxes: [
                    {
                        icon: 'icon-line-phone',
                        title: 'Email',
                        content: 'contact@edouardproust.dev',
                        link: 'mailto:contact@edouardproust.dev'
                    },{
                        icon: 'icon-line-mail',
                        title: 'Phone',
                        content: '+48 727 775 824'
                    },{
                        icon: 'icon-linkedin-in',
                        title: 'LinkedIn',
                        content: 'Click to write me on LinkedIn',
                        link: 'https://www.linkedin.com',
                        targetBlank: true
                    },{
                        icon: 'icon-line-home',
                        title: 'Address',
                        content: 'Helclów 9/5A,<br>31-148 Kraków<br>Poland'
                    }
                ]} %}

                {# contact form + google map #}
                <div class="row align-items-stretch col-mb-50 mb-0">

                    {# Contact Form #}
                    <div class="col-lg-6">

                        <div class="fancy-title title-border">
                            <h3>Send me an Email</h3>
                        </div>

                        <div class="form-widget">

                            <div class="form-result"></div>

                            <form class="mb-0" id="template-contactform" name="template-contactform" action="include/form.php" method="post">

                                <div class="form-process">
                                    <div class="css3-spinner">
                                        <div class="css3-spinner-scaler"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 form-group">
                                        <label for="template-contactform-name">Name <small>*</small></label>
                                        <input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control required" />
                                    </div>

                                    <div class="col-md-4 form-group">
                                        <label for="template-contactform-email">Email <small>*</small></label>
                                        <input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control" />
                                    </div>

                                    <div class="col-md-4 form-group">
                                        <label for="template-contactform-phone">Phone</label>
                                        <input type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control" />
                                    </div>

                                    <div class="w-100"></div>

                                    <div class="col-md-12 form-group">
                                        <label for="template-contactform-subject">Subject <small>*</small></label>
                                        <input type="text" id="template-contactform-subject" name="subject" value="" class="required sm-form-control" />
                                    </div>

                                    <div class="w-100"></div>

                                    <div class="col-12 form-group">
                                        <label for="template-contactform-message">Message <small>*</small></label>
                                        <textarea class="required sm-form-control" id="template-contactform-message" name="template-contactform-message" rows="6" cols="30"></textarea>
                                    </div>

                                    <div class="col-12 form-group d-none">
                                        <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
                                    </div>

                                    <div class="col-12 form-group">
                                        <button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-3d m-0">Send</button>
                                    </div>
                                </div>

                                <input type="hidden" name="prefix" value="template-contactform-">

                            </form>
                        </div>

                    </div>

                    {# Google Map #}
                    <div class="col-lg-6 min-vh-50">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d163975.34506402636!2d19.864790694540723!3d50.04668135328545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471644c0354e18d1%3A0xb46bb6b576478abf!2zS3Jha8OzdywgUG9sYW5k!5e0!3m2!1sen!2suk!4v1646823396559!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>

                </div>

            </div>
        </div>
    </section>

{% endblock %}