<div class="row col-mb-50 mb-5">
    {% for box in boxes %}
        {% include "_elements/feature-box.html.twig" with { 
            icon: box.icon,
            title: box.title,
            content: box.content,
            link: box.link ?? null,
            targetBlank: box.targetBlank ?? false,
            hoverAnimation: box.hoverAnimation ?? false,
            colWidthLg: 12/(boxes|length),
            colWidthSm: boxes|length < 2 ? '12' : '6',
        } %}
    {% endfor %}
</div>