{% extends '_layout/collection.html.twig' %}

{# Config #}

{% block title %}Lessons{% endblock %}

{% set page_title = 'Lessons' %}
{% set page_desc = 'Lessons to learn web developement or improve your skills.' %}
{% set breadcrumb = [
    {label: 'Home', url: path('home')},
    {label: 'Lessons', active: true}
] %}
{% set collection_filters = categories %}


{# Collection of Posts =============================================== #}

{% block content %}

    <ul>
    {% for lesson in lessons %}
        <li><a href="{{ path('lesson_show', {id: lesson.id, slug: lesson.slug}) }}">{{ lesson.title }}</a></li>
    {% endfor %}
    </ul>
    
    {# <div id="collection" class="row grid-container block-gallery-9">
        {% for lesson in lessons %}
            {% include "_elements/blog-collection-item-2.html.twig" with { post: lesson } %}
        {% endfor %}
    </div> #}

{% endblock %}