{# Ref: https://themes.semicolonweb.com/html/canvas/block-blog-single-2.html #}

{% extends '_layout/post.html.twig' %}

{% block title %}Blog{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('content') }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('ui') }}
{% endblock %}
 
{% set page_title = 'This is a Standard post with a Preview Image' %}
{% set page_breadcrumb = [
    {label: 'Home', url: path('home')},
    {label: 'Blog', url: path('blog')},
    {label: page_title, active: true}
] %}
{% set page_blogpost = {
    mainImage: asset('build/images/blog/show/1.jpg'),
    createdAt: '10th July 2021',
    author: 'admin',
    comments: [
        {
            author: 'Edouard Proust',
            createdAt: date(),
            content: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde nulla accusantium similique. Impedit deleniti velit unde aut! Itaque labore hic dolore, incidunt pariatur, neque, quam error temporibus ullam qui animi!'
        },{
            author: 'Edouard Proust',
            createdAt: date(),
            content: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde nulla accusantium similique. Impedit deleniti velit unde aut! Itaque labore hic dolore, incidunt pariatur, neque, quam error temporibus ullam qui animi!'
        },
    ]
} %}
{% set blogpost_showPostNavigation = true %}
{% set blogpost_showAuthor = true %}
{% set blogpost_showComments = true %}


{% block page_content %}

<h3>Dividers</h3>

{% include "_elements/divider.html.twig" %}

<h3>Tabs</h3>

{% include "_elements/tabs.html.twig" with { tabs: [
    { 
        title: '<i class="icon-home2 me-0"></i>',
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nihil quia corporis vitae optio, quis earum nisi libero error maxime minus modi quod sed, quas aspernatur iure repellat dolores suscipit?"
    },{ 
        title: 'Delivery',
        content: "<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim ex id hic soluta error rerum. Ea, rerum officia? Excepturi quasi, aliquam tempora maiores fugit labore dicta officiis error alias magnam.</p><p>Quos expedita iure dolorum vel est, repellendus tempore accusantium cumque autem accusamus quas at eum aut optio fugit corporis sit? Aliquid et laudantium quaerat alias incidunt facilis, maxime praesentium sed.</p>"
    }
] }%}

<h3>Toogle</h3>

{% include "_elements/toggle.html.twig" with {
    title: 'This is a Toggle Title',
    content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.'
} %}

<h3>Accordion</h3>

{% include "_elements/accordions.html.twig" with { accordions: [
    {
        title: 'Accordion #1',
        content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni excepturi eaque cum odio non porro distinctio voluptate maiores, animi inventore pariatur mollitia dicta veritatis nisi, fuga quia in laudantium autem.'
    },{
        title: 'Accordion #2',
        content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi assumenda ullam a repudiandae ipsa ad modi cumque iusto harum similique dolores perferendis architecto consequuntur voluptatem, voluptatum quod illo? Laboriosam, laborum.'
    }
] } %}

<h3>Read more</h3>

{% include "_elements/readmore.html.twig" with {
    content: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia velit architecto, autem in neque maiores molestias iste et quas, porro accusantium asperiores. Cum temporibus dicta, natus explicabo assumenda consectetur adipisci. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia velit architecto, autem in neque maiores molestias iste et quas, porro accusantium asperiores. Cum temporibus dicta, natus explicabo assumenda consectetur adipisci. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia velit architecto, autem in neque maiores molestias iste et quas, porro accusantium asperiores. Cum temporibus dicta, natus explicabo assumenda consectetur adipisci.'
} %}

<h3>Other</h3>

<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

<blockquote>
Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.
</blockquote>

{% include "_elements/posttype-image-large-row.html.twig" with {image: [
    {
        src: asset('build/images/blog/show/1.jpg'),
        caption: 'Lorem, ipsum dolor sit amet consectetur'
    },{
        src: asset('build/images/blog/show/2.jpg'),
        caption: 'odi corrupti suscipit nesciunt?'
    }
]} %}

{% include "_elements/posttype-image-large-row.html.twig" with {
    src: asset('build/images/blog/show/1.jpg'),
    caption: 'Lorem, ipsum dolor sit amet consectetur'
} %}

<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>


{% endblock %}