{% extends 'base.html.twig' %}

{% block title %}
	Blog
{% endblock %}

{% block body %}

	<h1>Blog</h1>

	<div class="collection">

		{% for post in posts %}
			{% include "_parts/card_post.html.twig" %}
		{% endfor %}

		<div class="pagination">
			{{ knp_pagination_render(posts) }}
		</div>

	</div>

{% endblock %}
