{% extends '_layout/collection.html.twig' %}

{# Config #}

{% block javascripts %}
    {{ parent() }}
	{# {{ encore_entry_script_tags('gallery') }} #}
{% endblock %}

{% block title %}Blog{% endblock %}

{% set page_title = 'Blog' %}
{% set page_desc = 'The lastest news from the world currated by experts.' %}
{% set breadcrumb = [
    {label: 'Home', url: path('home')},
    {label: 'Blog', active: true}
] %}
{% set collection_filters = categories %}


{# Collection of Posts =============================================== #}

{% block hero %}

    {% include "_sections/page-title/default.html.twig" with { 
        title: 'Blog',
        subtitle: 'Latest article, curated by world experts.'
    } %}
    
{% endblock %}

{% block content %}

<div id="collection" class="row grid-container block-gallery-9">
    {% for post in posts %}
        {% include "_elements/blog-collection-item-2.html.twig" with { post: post} %}
    {% endfor %}
</div>

{% endblock %}