{% extends '_layout/collection.html.twig' %}

{# Config #}

{% block title %}Lessons: {{ category.label }}{% endblock %}

{% set breadcrumb = [
    {label: 'Home', url: path('home')},
    {label: 'Lessons', url: path('lessons')},
	{label: category.label, active: true}
] %}
{% set collection_filters = codingLanguages %}
{% set collection_items = lessons %}


{# Collection of Posts =============================================== #}

{% block hero %}

    {% include "_sections/page-title/default.html.twig" with { 
        title: 'Lessons: ' ~ category.label,
        subtitle: category.description
    } %}
    
{% endblock %}

{% block content %}

    <div id="collection" class="row grid-container">
        {% for lesson in lessons %}
            {% include "_elements/lesson-collection-item.html.twig" %}
        {% endfor %}
    </div>

{% endblock %}
