{% extends 'base.html.twig' %}

{% block title %}
	"{{ category.label }}" Lessons
{% endblock %}

{% block body %}

	<h1>"{{ category.label }}" Lessons</h1>

	{% if category.description is not null %}
		<div class="page_headline">
			{{ category.description }}
		</div>
	{% endif %}

	<div class="collection">

		{% for lesson in lessons %}
			{% include "_parts/card/lesson.html.twig" %}
		{% endfor %}

		<div class="pagination">
			{{ knp_pagination_render(lessons) }}
		</div>

	</div>

{% endblock %}
