{% extends '_layout/bg-video.html.twig' %}

{# Config #}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('404') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('404') }}
{% endblock %}

{% block title %}Page not found{% endblock %}

{% set whiteLogo = true %}

{# Error 404 page ====================================================== #}

{% block content %}

<div class="error404-wrap text-center">
	<div class="error404">404</div>

	<div class="error404-text">
		<h4>Ooopps! The Page you were looking for, couldn't be found.</h4>
	</div>

	{# Return button #}
	{% set referer = app.request.server.get('http-referer') %}
	{% set goBackLink = referer|default(path('home')) %}
	{% if referer is null %}
		{% include "_elements/button.html.twig" with {
			label: 'Back to homepage',
			icon: 'icon-line-home',
			url: goBackLink,
		} %}
	{% else %}
		{% include "_elements/button.html.twig" with {
			label: 'Go back',
			url: goBackLink
		} %}
	{% endif %}

</div>
				
{% endblock %}
